.login__title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 500;
  color: aqua;
  font-size: 50px;
}

.form__box {
  form {
    width: 500px !important;
    padding-left: 20px;
    padding-right: 20px;
  }
}
