.ofa__admin__logo {
  padding: 24px;
  font-style: 18px;
  color: white;

  .ofa__admin__icon {
    svg {
      width: 34px;
      height: 34px;
    }
  }
}

.ofa__admin__asside {
  height: 100vh;
  .ant-menu-item {
    font-size: 16px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .logout__btn {
    background-color: red !important;
    color: aliceblue !important;
  }
  .ant-menu-item-selected {
    color: red;
    background-color: aliceblue;
  }
}

.ofa__admin__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  background-color: #001529 !important;
  .ofa__collapsed__btn {
    svg {
      fill: white;
    }
    &:hover {
      background-color: aliceblue !important;
      svg {
        fill: #001529;
      }
    }
  }
  padding-right: 20px !important;
}

.ofa__admin__main {
  overflow: auto;
  height: calc(100vh - 84px) !important;
}

.notification {
  background-color: transparent;
  border: none;
}

.account__btn__box {
  width: 64px;
  .account__btn {
    width: 100%;
    height: 100%;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.ofa__notification__btn {
  cursor: pointer;
  transition: 0.5s;
  background-color: #001529;
  svg {
    fill: aliceblue;
  }
  &:hover {
    background-color: aliceblue !important;
    svg {
      fill: #1677ff;
    }
  }
}

@media only screen and (max-width: 600px) {
  // .ofa__admin__logo{
  //   padding: 14px;
  // }

  // .ofa__admin__asside{

  //   .ant-menu-inline-collapsed{
  //       max-width: 60px !important;
  //       min-width: 60px !important;
  //   }

  // }
}
